* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body,
html {
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    background-color: transparent;
    border: 0;
    color: inherit;
}

input, textarea {
    background-color: transparent;
    border: 0;
    outline: none;
    color: inherit;
}

ul {
    list-style: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}