@use './reset';
@use './variables' as var;

body {
    background-color: var.$bgMain;
    color: var.$textMain;
}

.container {
    max-width: 1220px;
    margin: 0px auto;

    .for-phone {
        display: block;
    }

    .for-laptop {
        display: none;
    }
}

.icons-action {
    width: 30px;
    height: 30px;
}

.enter-page {
    position: relative;
    min-height: 100svh;
    background-image: url(../assets/bg-main.png);
    background-size: cover;
    background-position: center;
    color: white;

    .menu-for-phone {
        position: fixed;
        top: 0;
        right: -100%;
        width: 60%;
        background-color: var.$textSecondary;
        color: white;
        display: flex;
        flex-direction: column;
        height: 100svh;
        justify-content: center;
        align-items: center;
        gap: 30px;
        text-align: center;
        z-index: 9999;
        transition: all .7s ease;

        button {
            position: absolute;
            top: 30px;
            right: 30px;
        }

        a {
            font-size: 20px;
        }

        nav {
            display: flex;
            flex-direction: column;
            gap: 30px;
        }

        .link-for-contact {
            display: flex;
            align-items: center;
            gap: 7px;

            img {
                width: 30px;
                height: 30px;
            }
        }
    }

    .menu-for-phone.active {
        right: 0;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0px;

        .service-menu {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 65%;
        }

        .logo {
            width: 35%;
            display: flex;
            justify-content: start;

            a {
                font-size: 30px;
                font-weight: 700;
            }
        }

        nav {
            display: flex;
            gap: 65px;

            a {
                font-size: 16px;
                font-weight: 500;
            }
        }

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;

            span {
                font-size: 16px;
                font-weight: 600;
            }
        }
    }

    &::before {
        position: absolute;
        content: '';
        width: 60px;
        height: 60px;
        bottom: -30px;
        left: 5%;
        z-index: -1;
        background-color: var.$textSecondary;
        transform: rotate(45deg);
    }

    .main {
        display: flex;
        justify-content: space-between;
        align-items: start;
        margin-top: 7vh !important;

        .left-main {
            display: flex;
            flex-direction: column;
            gap: 35px;
            max-width: 600px;

            h1 {
                font-size: 40px;
                font-weight: 600;
            }

            p {
                font-size: 14px;
            }

            button {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 248px;
                height: 50px;
                margin-top: 26px;
                color: #000;
                font-size: 16px;
                font-weight: 500;
                background: var.$textSecondary;
                margin-top: 26px;
            }
        }

        .right-main {
            background-color: rgba(0, 0, 0, 0.40);
            padding: 49px 39px;
            border-radius: 10px;
            min-width: 45%;

            h2 {
                font-size: 25px;
                font-weight: 500;
            }

            p {
                font-size: 16px;
                margin-top: 23px;
                margin-bottom: 14px;
            }

            input,
            textarea {
                display: block;
                width: 100%;


            }

            ::placeholder {
                color: rgba(255, 255, 255, 0.70);
            }
        }
    }

}

.uni-input {
    border: 1px solid rgba(255, 255, 255, 0.70);
    border-radius: 7px;
    color: white;
    padding: 13px 24px;
    margin-top: 15px;
}

.about-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
    gap: 50px;

    .left-about {
        width: 50%;

        h2 {
            margin-top: 35px;
            font-size: 30px;
            font-weight: 600;
        }

        p {
            margin-top: 35px;
            font-size: 14px;
            max-width: 518px;
        }
    }

    .right-about {
        width: 50%;

        p {
            color: rgba(0, 0, 0, 0.50);
            font-size: 14px;
            font-weight: 500;
            margin-bottom: 16px;
        }
    }
}

.starter-section {
    display: inline-block;
    width: 101px;
    color: var.$textSecondary;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.32px;
    border-bottom: 1px solid var.$textSecondary;
    padding-bottom: 22px;
}

.link-for-prices {
    display: inline-block;
    background-color: var.$textSecondary;
    padding: 16px 39px;
    font-size: 16px;
    font-weight: 500;
}

.product-page {
    margin-top: 92px;
    margin-bottom: 30px;

    .link-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 75px;

    }

    .starter-section {
        margin-bottom: 50px;
    }

    .product-container {
        display: grid;
        grid-template-columns: repeat(4, auto);
        justify-content: space-between;
        align-items: center;
        gap: 35px 11px;

        .products-item {
            .image-product {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 299px;
                background: #f5f5f5;

                img {
                    padding: 0px 19px;
                }
            }

            .info-product {
                h2 {
                    margin-top: 16px;
                    font-size: 18px;
                    font-weight: 600;
                    letter-spacing: 0.36px;
                }

                p {
                    color: rgba(0, 0, 0, 0.40);
                    font-size: 14px;
                    font-weight: 500;
                    letter-spacing: 0.28px;
                    margin-top: 16px;
                }

                a {
                    display: inline-block;
                    color: var.$textSecondary;
                    font-size: 16px;
                    font-weight: 500;
                    letter-spacing: 0.32px;
                    margin-top: 26px;

                    svg {
                        margin-left: 16px;
                    }
                }
            }
        }
    }
}

.projects-page {
    .not-same-starter {
        width: 150px;
    }
}

.contact-page {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-top: 75px;

    .left-contact {
        width: 50%;
        padding-right: 40px;

        h1 {
            font-size: 25px;
            font-weight: 500;
            line-height: 96.4%;
        }

        p {
            font-size: 12px;
            font-weight: 400;
            line-height: 96.4%;
            margin-top: 23px;
            margin-bottom: 15px;
        }

        form {
            display: flex;
            flex-direction: column;
        }

        input,
        textarea {
            color: black;
            border: 1px solid rgba(0, 0, 0, 0.23);
        }

        textarea {
            min-height: 153px;
        }

        ::placeholder {
            color: rgba(0, 0, 0, 0.60);
        }
    }

    .right-contact {
        width: 50%;
        padding-left: 20px;
        border-left: 1px solid gray;

        .banner-contact {
            background-image: url('../assets/contact.png');
            width: 100%;
            height: 287px;
            display: flex;
            justify-content: center;
            align-items: center;

            h1 {
                color: #FFF;
                font-size: 40px;
                font-weight: 600;
                max-width: 487px;
                margin: 0px auto;
            }
        }

        .link-for-prices {
            margin-top: 56px;
        }
    }
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-top: 100px;

    ul {
        display: flex;
        flex-direction: column;
        gap: 7px;

        li,
        span {
            font-size: 14px;
        }

        li,
        li a {
            display: flex;
            align-items: center;
            gap: 7px;
        }
    }

    p {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 25px;
    }

    .left-footer {
        display: flex;
        gap: 33px;
        width: 45%;

    }

    .right-footer {
        width: 55%;

        iframe {
            width: 100%;
        }
    }
}

.bottom-footer {
    text-align: center;
    border-top: 1px solid black;
    margin-top: 27px;
    padding: 35px 0px;

    span {
        font-size: 14px;
    }
}

@import './adaptive'